
.sp-block-gallery .sp-image {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    background: #ccc;
    margin: 0 5px 5px 0;
    text-align: center;
    border: 2px solid #eee;
    cursor: pointer;
}

.sp-block-gallery .sp-image-desc {
    width: 80%;
}


.sp-block-gallery .sp-edit{
    background: #ddd;
}

.sp-block-gallery .sp-image.active{
    border: 2px solid #d00;
}


.sp-block-gallery .sp-result {
    background: #eee;
    min-height: 100px;
    padding: 10px;
}

.sp-block-gallery .sp-source{
    background: #FFEBC1;
    display: none;
}