.sp-block-accordion .sp-acc-tab {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.sp-block-accordion .sp-acc-tab-container {

}

.sp-block-accordion .sp-acc-buttons {
    background: #eee;
    /*border-bottom: 1px dashed #ccc;*/
    /*text-align: left;*/
    position: relative;
}

.sp-block-accordion .sp-acc-box-buttons {
    position: relative;
    /*text-align: center;*/
    /*margin-bottom: 10px;*/
}

.sp-block-accordion .sp-acc-tab-buttons,
.sp-block-accordion .sp-acc-buttons {
    /*border-top: 1px dashed #ccc;*/
    /*text-align: center;*/
    background: #eee;
    padding: 10px 10px 0;
}


.sp-block-accordion .sp-acc-buttons,
.sp-block-accordion .sp-acc-box-buttons,
.sp-block-accordion .sp-acc-tab-buttons {
    font-size: 0;
}

.sp-block-accordion .sp-acc-tab-buttons span {
    font-size: 13px;
}

.sp-block-accordion .sp-x-pp-box,
.sp-block-accordion .sp-x-buttons-group {
    /*position: absolute;*/
    /*right: 10px;*/
    /*text-align: right;*/
}

.sp-block-accordion .sp-acc-del {
    /*float: right;*/
}

.sp-block-accordion input.sp-acc-tab-value {
    width: 60%;
    float: right;
    /*margin-right:90px;*/
}

.sp-block-accordion .sp-acc-box {
    margin: 10px;
}

.sp-block-accordion .sp-acc-footer {

}


.sp-block-accordion .sp-acc-box-block {

}

.sp-block-accordion .sp-acc-tab-container {
}

.sp-block-accordion .sp-acc-box-handle,
.sp-block-accordion .sp-acc-tab-handle {
    cursor: move;
}
