.sp-block-accordion .sp-acc-tab {
    /*padding: 10px;*/
    border: 1px solid #ccc;
    margin-bottom: 10px;

}

.sp-block-accordion .sp-acc-tab-container{
    /*padding: 10px;*/
}

.sp-block-accordion .sp-acc-tab-title {
    background: #eee;
    border-bottom: 1px dashed #ccc;
    padding: 10px;
    text-align: center;
}

.sp-block-accordion .sp-acc-tab-buttons {
    border-top: 1px dashed #ccc;
    text-align: center;
    padding: 10px;
    background: #eee;
}

.sp-block-accordion .sp-acc-del{
    float: right;
}

.sp-block-accordion .sp-acc-tab-title input {
    width: 70%;
}

.sp-block-accordion .sp-acc-box {
    padding: 10px;
}

.sp-block-accordion .sp-acc-box-buttons {
    text-align: right;
    margin-bottom: 10px;
}