/* Общие стили для блоков */

.c-image-text {
    background: #eee;
    margin: 10px 0 10px;
    min-height: 250px;
}

.c-image-text img {
    float: left;
    width: 320px;
    margin: 0 10px 10px 0;
}

.c-iblock-elements {
    width: 350px;
    background: #ddd;
    padding: 10px;
}

.c-properties {
    width: 400px;
    border-collapse: collapse;
}

.c-properties_title {
    border: 1px solid #ccc;
    padding: 0 5px;
    font-weight: bold;
}

.c-properties_text {
    border: 1px solid #ccc;
    padding: 0 5px;
}