.sp-block-image {
    /*border-radius: 10px;*/
    /*position: relative;*/
}

.sp-block-image .sp-result {
    min-height: 210px;
    overflow: hidden;
    background: #eee;
    padding: 10px;
}

.sp-block-image .sp-result img {
    display: block;
    margin: 0 auto;
    /*padding: 5px;*/
    max-width: 98%;
    height: 210px;
}

.sp-block-image .sp-item-del {
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 2px;*/
    /*border-radius: 10px;*/
    /*padding: 10px;*/
}

.sp-block-image .sp-edit {
    background: #ddd;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 10%;*/
    /*width: 80%;*/
    /*border-radius: 10px;*/
    padding: 10px;
}

.sp-block-image .sp-source {
    background: #FFEBC1;
    /*width: 80%;*/
    /*border-radius: 10px;*/
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
    padding: 10px;
    /*width: 100%;*/
}

.sp-block-image .sp-download-url {
    width: 50%
}

.sp-block-image .sp-item-text {
    width: 50%
}


.sp-block-image .sp-source {
    display: none;
}

.sp-block-image .sp-edit {
    display: block;
}

.sp-block-image.sp-show .sp-source {
    display: block;
}

.sp-block-image.sp-show .sp-edit {
    display: none;
}
