
.sp-block-image .sp-col-item{
    width: 210px;
}

.sp-block-image .sp-item {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ccc;
    border: 2px solid #ccc;
}

.sp-block-image .sp-item img{
    width: 200px;
    height: 200px;
}

.sp-block-image .sp-item-panel{
    position: absolute;
    top: 20px;
    left: -75px;
    height: 100px;
    z-index: 15;
    background: #eee;
    border: 2px solid #ccc;
    display: none;
    padding: 8px;
}


.sp-block-image .sp-item:hover{
    border: 2px solid #d00;
}

.sp-block-image .sp-item:hover .sp-item-panel{
    display: block;
}

.sp-block-image .sp-item-panel input[type=text]{
    width: 300px;
    margin-top: 30px;
}

.sp-block-image .sp-item-buttons{
    text-align: center;margin-top: 5px;
}

.sp-block-image .sp-source{
    background: #FFEBC1;
    display: none;
    margin-bottom: 10px;
}

.sp-block-image.sp-show .sp-source{
    display: block;
}

.sp-block-image .sp-download-url{
    width: 80%;
}

.sp-block-image .sp-fields{
    padding: 10px;
}

.sp-block-image .sp-field{
    margin-bottom: 10px;
}

.sp-block-image .sp-field:last-child{
    margin-bottom: 0;
}