.sp-block-image .sp-rel {
    position: relative;
}

.sp-block-image .sp-result {
    min-height: 210px;
    background: #ccc;
    overflow: hidden;
    text-align: left;
}

.sp-block-image .sp-result img {
    display: block;
    margin: 0 auto;
}

.sp-block-image .sp-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #eee;
    width: 50%;
    display: none;
}

.sp-block-image.sp-show .sp-panel {
    display: block;
}

.sp-block-image .sp-source {
    background: #FFEBC1;
}

.sp-block-image .sp-download-url,
.sp-block-image .sp-item-text {
    width: 80%;
}

.sp-block-image .sp-fields {
    padding: 10px;
}

.sp-block-image .sp-field {
    margin-bottom: 10px;
}

.sp-block-image .sp-field:last-child {
    margin-bottom: 0;
}
