.sp-block-iblock_sections .sp-result {
    position: relative;
}

.sp-block-iblock_sections .sp-filter {
    display: block;
}

.sp-block-iblock_sections.sp-show .sp-filter {
    display: block;
}

.sp-block-iblock_sections .sp-item {
    padding: 6px;
    margin: 0 0 5px 0;
    cursor: move;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.sp-block-iblock_sections .sp-placeholder {
    border: 1px dotted black;
    padding: 6px;
    margin: 0 0 5px 0;
    height: 18px;
}

.sp-block-iblock_sections .sp-elements {
    background: #eee;
    min-height: 100px;
    padding: 5px 5px 10px;
}

.sp-block-iblock_sections .sp-item.ui-draggable-dragging {
    background: #FDBF3B;
}

.sp-block-iblock_sections .sp-item.ui-sortable-helper {
    background: #ccc;
}

.sp-block-iblock_sections .sp-field {
    margin-bottom: 10px;
}

.sp-block-iblock_sections .sp-select-iblock {
    width: 180px;
}

.sp-block-iblock_sections .sp-filter {
    margin-bottom: 10px;
}
