.sp-block-video .sp-url {
    width: 98%;

}

.sp-block-video .sp-table {
    /*margin-top: 10px;*/
}

.sp-block-video .sp-preview {
    /*float: left;*/
    width: 320px;
    height: 180px;
    background: #ccc;
}

.sp-block-video .sp-col-preview {
    width: 330px;
    text-align: center;

}

.sp-block-video .sp-col-sizes {
    text-align: left;
}

.sp-block-video .sp-col-sizes input[type=text] {
    margin-bottom: 5px;
    width: 100px;
}

.sp-block-video .sp-area1-image {
    display: none;
    margin-top: 10px;
}
.sp-block-video .sp-note {
    padding: 10px 0;

}
.sp-block-video .sp-handle{
    cursor: pointer;
}
.sp-block-video .sp-hidden{
    display: none;
}
