
.sp-block-video_gallery .sp-item,
.sp-block-video_gallery .sp-item-add {
    position: relative;
    width: 98px;
    height: 55px;
    background: #ccc;
    margin: 3px;
    text-align: center;
    border: 2px solid #eee;
    cursor: pointer;
    float: left;
}

.sp-block-video_gallery .sp-item-add {
    color: #fff;
    font-size: 40px;
    /*text-shadow: 0 0 2px #ccc;*/
    line-height: 55px;
    user-select: none;
}

.sp-block-video_gallery .sp-item-add:hover {
    text-shadow: 0 0 4px #eee;
}

.sp-block-video_gallery .sp-placeholder {
    border: 2px dotted black;
    width: 98px;
    height: 55px;
    margin: 3px;
    float: left;
}

.sp-block-video_gallery .sp-item {
    overflow: hidden;
}

.sp-block-video_gallery .sp-item-desc,
.sp-block-video_gallery .sp-item-video {
    width: 80%;
}


.sp-block-video_gallery .sp-edit {
    background: #ddd;
}

.sp-block-video_gallery .sp-x-active {
    border: 2px solid #d00;
}


.sp-block-video_gallery .sp-result {
    background: #eee;
    min-height: 65px;
    padding: 5px;
}

.sp-block-video_gallery .sp-source {
    background: #FFEBC1;
    display: none;
}

.sp-block-video_gallery .sp-is-video::after {
    background-image: url(/bitrix/admin/sprint.editor/assets/video-gallery/img/white-play-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 30px;
    right: 5px;
    position: absolute;
    top: 5px;
    width: 30px;
}

.sp-block-video_gallery .sp-fields {
    padding: 10px;
}

.sp-block-video_gallery .sp-field {
    margin-bottom: 10px;
}
