.sp-block-table table {
    width: 100%;
    border-collapse: collapse;
    background: #eee;

}

.sp-block-table td{
    border: 1px solid #ccc;
    padding: 5px;
}


.sp-block-table .active{
    background: #FFEBC1;
}

.sp-block-table .bold{
    font-weight: bold;
}

.sp-block-table .center{
    text-align: center;
}

.sp-block-table .right{
    text-align: right;
}

.sp-block-table .sp-buttons {
    /*text-align: center;*/
}

.sp-block-table .sp-buttons span {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #aaa;
    color: #888;
    display: inline-block;
    text-align: center;
    min-width: 18px;
    padding: 5px;
}

.sp-block-table .sp-buttons span:hover{
    background: #FFEBC1;
    color: #d00;
}