.sp-block-instagram input[type=text] {
    width: 98%;
}

.sp-block-instagram .sp-preview {
    margin-top: 10px;
    /*max-height: 180px;*/
    /*overflow-y: scroll;*/
}

.sp-block-instagram .sp-preview.sp-empty {
    background: #ccc;
    min-height: 100px;
}
