.sp-block-complex_image_text .sp-item{
  width: 130px;
  height: 130px;
}

.sp-block-complex_image_text .sp-item img{
  width: 130px;
  height: 130px;
}

.sp-block-complex_image_text .sp-item-panel{
  top: 20px !important;
  left: -80px !important;
}

.sp-block-complex_image_text .sp-item-panel input[type=text]{
  width: 300px;
  margin-top: 30px;
}

.sp-block-complex_image_text .sp-area1{
    margin-top: 10px;
}