.sp-block-text .trumbowyg-textarea {
    min-height: 70px;
}

.sp-block-text .trumbowyg-editor {
    min-height: 70px;
    padding: 5px;
}

.sp-block-text .trumbowyg-box {
    min-height: 70px;
}

.sp-block-text .trumbowyg-editor-box p {
    margin: 0;
    padding: 0;
}
