.sp-block-medialib_elements .sp-medialib-result {
    position: relative;
}

.sp-block-medialib_elements .sp-item {
    position: relative;
    width: 98px;
    height: 55px;
    background: #ccc;
    text-align: center;
    border: 2px solid #eee;
    cursor: pointer;
    margin: 3px;
    float: left;
    overflow: hidden;
}

.sp-block-medialib_elements .sp-item img {
    min-width: 100px;
    min-height: 100px;
}

.sp-block-medialib_elements .sp-placeholder {
    border: 2px dotted black;
    width: 98px;
    height: 55px;
    margin: 3px;
    float: left;
}


.sp-block-medialib_elements .sp-filter {
    /*display: none;*/
}

.sp-block-medialib_elements .sp-filter-row {
    margin-bottom: 10px;
}


.sp-block-medialib_elements .sp-source {
    background: #FFEBC1;
    padding: 5px 5px 10px;
    display: none;
}

.sp-block-medialib_elements.sp-show .sp-filter,
.sp-block-medialib_elements.sp-show .sp-source {
    display: block;
}

.sp-block-medialib_elements .sp-arrows {
    margin: 5px 0 0;
    text-align: center;
}

.sp-block-medialib_elements .sp-elements {
    background: #eee;
    min-height: 100px;
    padding: 7px 7px 10px;
}

.sp-block-medialib_elements .sp-source .sp-item {
    /*border: 2px solid #FDBF3B;*/
}

.sp-block-medialib_elements .sp-elements .sp-item {
    /*border: 2px solid #ccc;*/
}

.sp-block-medialib_elements .sp-field {
    margin-bottom: 10px;
}

.sp-block-medialib_elements .sp-select-collection {
    width: 180px;
}
