.sp-video-gallery img {
	display: block;
	max-width: 100%;
}

.sp-video-gallery-large-thumbnail-container {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.sp-video-gallery-large-thumbnail-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sp-video-gallery-large-thumbnail-wrapper a {
	display: block;
	height: 100%;
	width: 100%;
}

.sp-video-gallery-large-thumbnail-wrapper img {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
			-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
					transform: translate3d(-50%, -50%, 0);
}

.sp-video-gallery-large-thumbnail-wrapper iframe {
	height: 100%;
	width: 100%;
}

.sp-video-gallery-thumbnails-container {
	position: relative;
}

.sp-video-gallery-thumbnails-list-container {
	position: relative;
}

.sp-video-gallery-thumbnails-list {
	height: 100%;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
				transition: all .2s ease-out;
}

.sp-video-gallery-thumbnails-list-item {
	background-color: #000;
	cursor: pointer;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.sp-video-gallery-thumbnails-list-item::before {
	background-color: rgba(0,0,0,.4);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.sp-video-gallery-thumbnails-list-item.active::before {
	display: none;
}

.sp-video-gallery-thumbnails-list-item > div {
	height: 100%;
}

.sp-video-gallery-thumbnails-list-item img {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
			-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
					transform: translate3d(-50%, -50%, 0);
	max-width: 100%;
}

.sp-video-gallery-thumbnails-list-item iframe {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.sp-video-gallery-thumbnails-list-item [data-type="youtube"] {
	position: relative;
}

.sp-video-gallery-thumbnails-list-item [data-type="youtube"]::after {
	background-image: url(../img/white-play-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 64px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
			-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
					transform: translate3d(-50%, -50%, 0);
	width: 64px;
}

.sp-video-gallery-thumbnails-controls-container {
	bottom: 0;
	height: 18px;
	left: 0;
	position: absolute;
	right: 0;
}

.sp-video-gallery-thumbnails-prev,
.sp-video-gallery-thumbnails-next {
	background-color: #2b77c6;
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	width: 28px;
}

.sp-video-gallery-thumbnails-prev {
	left: 0;
}

.sp-video-gallery-thumbnails-next {
	right: 0;
}

.sp-video-gallery-thumbnails-prev::after,
.sp-video-gallery-thumbnails-next::after {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	content: '';
	display: block;
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
			-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
					transform: translate3d(-50%, -50%, 0);
	width: 0;
}

.sp-video-gallery-thumbnails-prev::after {
	border-right: 10px solid #fff;
}

.sp-video-gallery-thumbnails-next::after {
	border-left: 10px solid #fff;
}

.sp-video-gallery-preloader {
	background-color: #000;
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 1000;
}

.sp-video-gallery-preloader::after {
	background-image: url(../img/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 64px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
			-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
	width: 64px;
}