.sp-block-lists .sp-item {
    margin-bottom: 6px;
}

.sp-block-lists .sp-item input {
    width: 78%;
}
.sp-block-lists .sp-lists-type{
    margin-bottom: 6px;
}
.sp-block-lists .sp-item-handle{
    cursor: pointer;
}
