
.sp-block-gallery .sp-image_item {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    background: #ccc;
    margin: 0 5px 5px 0;
    text-align: center;
    border: 2px solid #eee;
}

.sp-block-gallery .sp-image_item_panel{
    position: absolute;
    top: 20px;
    left: -115px;
    height: 100px;
    z-index: 2;
    background: #eee;
    border: 2px solid #ccc;
    display: none;
    padding: 0 10px;
}

.sp-block-gallery .sp-image_item-active{
    border: 2px solid #ee3a80;
}

.sp-block-gallery .sp-image_item_panel input[type=text]{
    width: 300px;
    margin-top: 30px;
}

.sp-block-gallery .sp-image_item-delete{
    text-align: center;margin-top: 5px;
}

.sp-block-gallery .sp-file{

}

.sp-block-gallery .j-fileupload-result {
    background: #eee;
    min-height: 100px;
    padding: 3px 3px 8px;
}

.sp-block-gallery .j-fileupload-btn{

}

.sp-block-gallery .sp-url-toggle{
    cursor:pointer;
    height: 40px;
    margin-left: 10px;
}

.sp-block-gallery .sp-url-toggle span{
    padding: 8px 16px;
    display: block;
}

.sp-block-gallery .sp-url-toggle.active{
    background: #FFEBC1;
    border-radius: 5px 5px 0 0;
}

.sp-block-gallery .sp-url-tab{
    background: #FFEBC1;
    padding: 8px 8px 16px;
    display: none;
}