.sp-block-image_simple .sp-item {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background: #ccc;
    margin: 0 5px 5px 0;
    border: 2px solid #ccc;
}

.sp-block-image_simple .sp-item img{
    width: 200px;
    height: 200px;
}

.sp-block-image_simple .sp-item-panel{
    position: absolute;
    top: 20px;
    left: -75px;
    height: 100px;
    z-index: 15;
    background: #eee;
    border: 2px solid #ccc;
    display: none;
    padding: 8px;
}


.sp-block-image_simple .sp-item:hover{
    border: 2px solid #d00;
}

.sp-block-image_simple .sp-item:hover .sp-item-panel{
    display: block;
}

.sp-block-image_simple .sp-item-panel input[type=text]{
    width: 300px;
    margin-top: 30px;
}

.sp-block-image_simple .sp-item-buttons{
    text-align: center;margin-top: 5px;
}

.sp-block-image_simple .sp-file{
    margin-bottom: 10px;
}