.sp-table {
    display: table;
}

.sp-table .sp-row {
    display: table-row;
}

.sp-table .sp-col {
    display: table-cell;
    vertical-align: top;
}

.sp-table .sp-col-left {
    width: 40%;
}

.sp-table .sp-col-right {
    width: 60%;
}

.sp-table.sp-table-spacing {
    border-spacing: 5px;
    border-collapse: separate;
}

.sp-x-lt {
    position: relative;
    margin-bottom: 10px;
}

.sp-x-lt .sp-table {
    background: #fff;
    width: 100%;
    table-layout: fixed;
}

.sp-x-lt .sp-x-caption {
    padding: 6px;
    line-height: 16px;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    min-width: 200px;
    cursor: text;
    outline: none;
}

.sp-x-lt .sp-x-caption:focus {
    /*outline: 0 solid transparent;*/
}

.sp-x-lt .sp-x-lt-header {
    margin-bottom: 10px;
}

.sp-x-lt .sp-x-del {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 6px;
    min-width: 18px;
    line-height: 16px;
}

.sp-x-lt .sp-x-del:hover {
    background: #ededed;
}


.sp-side-left {
    padding-right: 40px;
}

.sp-x-lt .sp-x-sortable {
    height: 40px;
    border: 1px solid #ccc;
}

.sp-x-lt .sp-x-block {
    display: block;
    cursor: move;
    background: #eee;
    margin: 2px;
    padding: 10px;
    text-align: center;
}

.sp-x-lt .sp-x-placeholder {
    display: block;
    cursor: move;
    height: 40px;
    margin: 2px;
    background: #ccc;
}

.sp-x-header {
    background-color: #e3ecee;
    border: 1px solid #c4ced2;
    padding: 10px;
    margin-bottom: 10px
}

.sp-x-header input[name=block_title] {
    width: 360px
}

.sp-x-header input[name=block_sort] {
    width: 100px
}

.sp-x-header input[name=block_id] {
    width: 300px
}

.sp-x-header input[name=pack_title] {
    width: 360px
}

.sp-x-header input[name=pack_id] {
    width: 365px
}

.sp-x-toolbar {
    margin: 10px 0;
    font-size: 0;
    max-width: 500px;
    min-width: 250px;
}

.sp-x-pp-group {
    margin-bottom: 10px;
}

.sp-x-pp-group-title {
    font-weight: bold;
    font-size: 13px;
    padding: 4px;
    margin: 2px;
    min-width: 18px;
}

.sp-x-toolbar .sp-x-block {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 6px;
    min-width: 18px;
    line-height: 16px;
    margin: 1px;
}

.sp-x-toolbar .sp-x-block:hover {
    background: #ededed;
}


a.sp-link, a.sp-link:link {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    border: 1px solid #ccc;
    padding: 6px;
    min-width: 18px;
    line-height: 16px;
    color: black;
    margin-bottom: 10px;
}

a.sp-link:hover {
    background: #ededed;
}

a.sp-link:active,
a.sp-link.sp-link-active {
    background: #cecece;
}

a.sp-link-new, a.sp-link-new:link {
    /*border-radius: 5px;*/
}

.sp-x-field {
    margin-top: 10px;
}

.sp-x-field:first-child {
    margin-top: 0;
}

/* trash_files */
.sp-stepper-group {
    margin-bottom: 15px;
}

.sp-alert-default {
    padding: 16px 34px 16px 18px;
    color: #333;
    background: #dfe0e3;
    margin-bottom: 10px;
}

.sp-alert-warning {
    padding: 16px 34px 16px 18px;
    color: #c48300;
    background: #fff1d6;
    margin-bottom: 10px;
}

.sp-alert-danger {
    padding: 16px 34px 16px 18px;
    color: #e92f2a;
    background: #ffe8e8;
    /*white-space: pre;*/
    margin-bottom: 10px;
}

.sp-alert-primary {
    padding: 16px 34px 16px 18px;
    color: #008dba;
    background: #e5f9ff;
    margin-bottom: 10px;
}

.sp-alert-success {
    padding: 16px 34px 16px 18px;
    color: #7fa800;
    background: #f1fbd0;
    margin-bottom: 10px;
}

/* help */

.sp-help.sp-table {
    width: 100%;
    margin-top: 10px;
}

.sp-help .sp-col {
    background-color: #f5f9f9;
    border: 1px solid;
    border-color: #c4ced2 #dce7ed #dce7ed;
    padding: 10px;
}

.sp-help .sp-help-text {
    margin-bottom: 10px;
}
