.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

.sp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.sp-table .sp-row {
    display: table-row;
}

.sp-table .sp-col {
    display: table-cell;
    vertical-align: top;
}

.sp-table .sp-col-l {
    padding: 10px;
}

.sp-table .sp-col-r {
    padding: 10px;
    text-align: right;
    width: 60px;
    vertical-align: middle;
}

.sp-box {
    margin-bottom: 20px;
    background: #f5f9f9;
}

.sp-box_panel {
    text-align: left;
    margin-bottom: 10px;
}

.sp-box .ui-sortable-handle{
    cursor: move;
}

.sp-box_panel:after{
    content: '';
    display: block;
    clear: both;
}

.sp-box_panel-group_title{
    color: #888 !important;
    font-weight: normal;
}
.sp-box_panel-title{
    font-weight: bold !important;
}

.sp-box_panel-buttons {
    float: right;
}

.sp-box_panel-buttons a,
.sp-box_panel-buttons a:link,
.bx-core-adm-dialog .sp-box_panel-buttons a,
.bx-core-adm-dialog .sp-box_panel-buttons a:link {
    text-decoration: none;
    color: #555;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    width: 18px;
}

.sp-box_panel-buttons a:hover,
.bx-core-adm-dialog .sp-box_panel-buttons a:hover {
    text-decoration: none;
    color: #555;
}

.sp-box .sp-file {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #3f4b54;
    padding: 6px 15px 5px;
    line-height: 16px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px #fff, inset 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(0, 0, 0, .3), 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, .5);
    background-color: #e0e9ec;
    background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -o-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 18px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    -webkit-font-smoothing: antialiased
}

.sp-box .sp-file:hover{
    text-decoration: none;
    background: #f3f6f7 !important;
    background-image: -webkit-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -moz-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -ms-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -o-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: linear-gradient(top, #f8f8f9, #f2f6f8) !important
}

.sp-box .sp-file:active{
    background-color: #b7c4c9 !important;
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(103, 109, 123, .78);
    box-shadow: inset 0 1px 1px 1px rgba(103, 109, 123, .78);
    background-image: -webkit-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -moz-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -ms-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -o-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    border-top: transparent;
}

.sp-box .sp-file strong {

}

.sp-box .sp-file input[type=file] {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.sp-note {
    font-size: 12px !important;
    color: #999 !important;
}
.sp-box-settings{
    margin-bottom: 10px;
}

.sp-options-link{
    float:right;
    text-decoration: none;
}

.sp-layout-mode .sp-x-table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    /*margin-bottom: 20px;*/
}

.sp-layout-mode .sp-x-row{
    display: table-row;
    /*margin: 0;*/
    /*border: none;*/
}

.sp-layout-mode .sp-x-col{
    display: table-cell;
    vertical-align: top;
    padding: 0 5px;
}


.sp-y-caption{
    text-align: center;
    padding: 5px 10px;
    margin-bottom:10px;
    background: #ddd;
}

.sp-y-col {
    min-height: 50px;
}

.sp-layout-mode .sp-y-col{
    /*min-width: 250px;*/
    min-height: 50px;
    /*border: 1px solid #ccc;*/
    /*border: 1px solid #f00;*/
}

.sp-x-col {
    /*border-bottom: 1px solid #20A8DC;*/
    /*margin-bottom: 20px;*/
    /*min-height: 100px;*/
}

.sp-x-row {
    /*border-bottom: 1px solid #20A8DC;*/
    /*margin-bottom: 20px;*/
}

.sp-layout-mode .sp-box {
    background: #e0e8ea;
    /*border: 1px solid #ddd;*/
    margin: 0 0 10px 0;
}
.sp-layout-mode .sp-box.ui-sortable-helper {
    background: #ddd;
    padding: 0;
}

.sp-box.ui-sortable-helper {
    background: #e0e8ea;
    padding: 10px 10px 20px;
}

.sp-layout-mode .j-box-block{
    display: none;
}

.sp-layout-mode .sp-box_panel {
    padding: 5px 10px;
    /*margin: 0;*/
}
.sp-layout-mode .sp-box_panel-buttons {
    /*display: none;*/
}

.sp-placeholder {
    border: 1px dotted black;
    margin: 5px 0 10px;
    height: 100px;
}

.sp-layout-mode .sp-placeholder {
    height: 20px;
}
