/* common */
.sp-x-btn-file {
    position: relative;
    cursor: pointer;
}

.sp-x-btn-file input[type=file] {
    cursor: pointer;
    direction: ltr;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

.sp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.sp-table.sp-table-fixed {
    table-layout: fixed;
}

.sp-table .sp-row {
    display: table-row;
}

.sp-table .sp-col {
    display: table-cell;
    vertical-align: top;
}

.sp-table-fixed .sp-col .sp-area {
    margin-bottom: 10px;
    margin-right: 10px;
}

.sp-table-fixed .sp-col:last-child .sp-area {
    margin-right: 0;
}


.sp-note, .sp-x-note {
    font-size: 12px !important;
    color: #aaa !important;
}

/* editor */

.sp-x-box {
    margin: 10px;
}

.sp-x-box-copied {
    /*background: #FFEBC1;*/
    border: 2px solid #FDBF3B;
    padding: 5px;
}

.sp-x-box-caption {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.sp-x-editor-simple .sp-x-box {
    /*margin: 0 0 10px;*/
}


.sp-x-dump-error {
    color: #f00;
    text-align: center;
    border-bottom: 1px solid;
}

.sp-x-box-description {
    background: #e6e5be;
    background: -webkit-linear-gradient(top, rgba(244, 233, 141, .3), rgba(232, 209, 62, .3), rgba(225, 194, 40, .3));
    background: -moz-linear-gradient(top, rgba(244, 233, 141, .3), rgba(232, 209, 62, .3), rgba(225, 194, 40, .3));
    background: -ms-linear-gradient(top, rgba(244, 233, 141, .3), rgba(232, 209, 62, .3), rgba(225, 194, 40, .3));
    background: -o-linear-gradient(top, rgba(244, 233, 141, .3), rgba(232, 209, 62, .3), rgba(225, 194, 40, .3));
    background: linear-gradient(top, rgba(244, 233, 141, .3), rgba(232, 209, 62, .3), rgba(225, 194, 40, .3));
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3c6a3 #cabc90 #c1b37f #c9bc8f;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    color: #716536;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 15px 30px 15px 18px;
    position: relative;
}


.sp-x-box-hidden > .sp-x-buttons-box .sp-x-btn-title {
    text-decoration: line-through;
}

.sp-x-box-collapsed .sp-x-box-block,
.sp-x-box-collapsed .sp-x-box-settings,
.sp-x-box-collapsed .sp-x-box-description {
    display: none;
}

.sp-x-lt,
.sp-x-footer {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.sp-x-lt-copied {
    /*background: #FFEBC1;*/
    border: 2px solid #FDBF3B;
}

.sp-x-lt-clipboard {
    display: none;
    margin-bottom: 15px;
}

.sp-x-lt:after,
.sp-x-container:after {
    content: '';
    display: block;
    clear: both;
}

.sp-x-lt.ui-sortable-helper {
    background: #F5F9F9;
}

.sp-x-box-settings {
    display: inline-block;
}

.bx-core-adm-dialog div.sp-x-buttons.sp-x-buttons-lt2,
.sp-x-buttons.sp-x-buttons-lt2 {
    margin: 10px;
}

.sp-x-col {
    /*min-height: 84px;*/
    /*margin-bottom: 20px;*/
    display: none;
}

.sp-x-col.sp-x-active {
    display: block;
}

.sp-x-box-title {
    font-weight: bold !important;
}

.bx-core-adm-dialog div.sp-x-buttons,
.sp-x-buttons {
    text-align: left;
    position: relative;
}

.bx-core-adm-dialog div.sp-x-buttons.sp-x-buttons-lt1,
.sp-x-buttons.sp-x-buttons-lt1 {
    margin: 10px 10px 0;
}

.bx-core-adm-dialog div.sp-x-col-classes,
.sp-x-col-classes {
    margin: 10px 10px 0;
}


.bx-core-adm-dialog .sp-x-separator,
.sp-x-separator {
    border-bottom: 2px dashed #ccc;
    position: relative;
}

.bx-core-adm-dialog div.sp-x-separator,
.sp-x-separator {
    margin-top: 15px;
    margin-bottom: 13px;
}

.bx-core-adm-dialog .sp-x-separator.sp-x-separator-lt,
.sp-x-separator.sp-x-separator-lt {
    margin-top: 3px;
}

.bx-core-adm-dialog .sp-x-box-collapsed div.sp-x-separator,
.sp-x-box-collapsed .sp-x-separator {
    margin-top: 0;
}

.bx-core-adm-dialog .sp-x-separator .sp-x-toolbar-open,
.sp-x-separator .sp-x-toolbar-open {
    position: absolute;
    top: -15px;
    left: -50px;
    background: #fff;
}

.sp-x-box:last-child .sp-x-separator {
    display: none;
}

.sp-x-box.ui-sortable-helper .sp-x-separator {
    display: none;
}

.bx-core-adm-dialog div.sp-x-buttons.sp-x-buttons-box,
.sp-x-buttons.sp-x-buttons-box {
    display: inline-block;
}

.sp-x-buttons-group {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.sp-x-box-handle,
.sp-x-lt-handle,
.sp-x-btn.sp-x-box-handle {
    cursor: move;
}

.sp-x-box.ui-sortable-helper {
    background: #e0e8ea;
    padding: 10px 10px 20px;
}

.sp-x-settings-group,
.sp-x-lt-tabs {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.sp-x-btn,
.sp-x-col-tab,
.bx-core-adm-dialog .sp-x-btn,
.bx-core-adm-dialog .sp-x-col-tab {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none;
    padding: 6px;
    min-width: 18px;
    line-height: 16px;
    border: 1px solid #ccc;
}

.sp-x-input-title {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    outline: none;
    padding: 6px;
    min-width: 18px;
    line-height: 16px;
    /*border: 1px solid #ccc;*/
}

.sp-x-input-txt {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
    outline: none;
    /*text-decoration: none;*/

    /*padding: 5px 6px;*/
    /*min-width: 60px;*/
    /*line-height: 16px;*/
    /*border-bottom: 1px dashed #ccc;*/

    /*background: #fff;*/
    /*border: 1px solid;*/
    /*border-color: #87919c #959ea9 #9ea7b1 #959ea9;*/
    /*border-radius: 4px;*/
    /*color: #000;*/
    /*box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7);*/
}
.sp-x-input-txt input {
    max-width: 200px;
    min-width: 60px;
}

.sp-x-input-select {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
    outline: none;
}

.sp-x-input-select select {
    max-width: 200px;
    min-width: 60px;
}

a.sp-x-btn,
.bx-core-adm-dialog a.sp-x-btn {
    text-decoration: underline;
    font-size: 13px;
}

.sp-x-btn .sp-x-btn,
.bx-core-adm-dialog .sp-x-btn .sp-x-btn {
    padding: 0;
}

.sp-x-btn.sp-x-btn-green,
.bx-core-adm-dialog .sp-x-btn.sp-x-btn-green {
    background: #86ad00;
    border: solid 1px;
    border-color: #97c004 #7ea502 #648900;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 #cbdc00;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    /*min-width: 80px;*/
}

.sp-x-btn.sp-x-btn-green:hover,
.bx-core-adm-dialog .sp-x-btn.sp-x-btn-green:hover {
    background-color: #9ec710;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
    border-color: #97c004 #7ea502 #648900;
    text-decoration: none;
}

.sp-x-btn.sp-x-btn-green.sp-x-active,
.bx-core-adm-dialog .sp-x-btn.sp-x-btn-green.sp-x-active {
    background: #698f00 !important;
    box-shadow: inset 0 2px 1px rgba(66, 84, 17, .71) !important;
    border-color: transparent #698f00 #698f00 !important;
    border-top: none;

}

.sp-x-col-tab:before,
.sp-x-btn:before {
    display: inline-block;
    vertical-align: middle;
    /*padding-right: 5px;*/
}

.sp-x-btn:hover,
.sp-x-col-tab:hover,
a.sp-x-btn:hover,
.bx-core-adm-dialog a.sp-x-btn:hover {
    background: #ececec;
    /*box-shadow:*/
    /*inset rgba(0,0,0,.5) 0 -1px 1px,*/
    /*inset rgba(0,0,0,.2) 0 1px,*/
    /*inset #fff 0 2px,*/
    /*rgba(0,0,0,.2) 0 1px 1px;*/
}

.sp-x-btn.sp-x-active,
.sp-x-btn:active,
.sp-x-box.sp-x-box-hidden .sp-x-box-hide,
.sp-x-box.sp-x-box-collapsed .sp-x-box-collapse {
    background: #e0e0e0;
}

.sp-x-col-tab.sp-x-active {
    background: #FFEBC1;
}

.sp-x-pp-box,
.bx-core-adm-dialog div.sp-x-pp-box,
.sp-x-pp-lt,
.bx-core-adm-dialog div.sp-x-pp-lt,
.sp-x-toolbar,
.bx-core-adm-dialog div.sp-x-toolbar {
    display: none;
    max-width: 500px;
    min-width: 250px;
    background: #f5f9f9;
    padding: 10px;
    z-index: 40;
    position: absolute;
    font-size: 0;
    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px,
    inset rgba(0, 0, 0, .2) 0 1px,
    inset #fff 0 2px,
    rgba(0, 0, 0, .2) 0 1px 1px;
}

.bx-core-adm-dialog div.sp-x-toolbar,
.sp-x-toolbar {
    /*left: 0;*/
    text-align: left;
}

.bx-core-adm-dialog div.sp-x-toolbar,
.sp-x-toolbar {
    /*left: 0;*/
    /*top: 0;*/
    margin: 0;
}

.bx-core-adm-dialog .sp-x-editor-simple div.sp-x-toolbar,
.sp-x-editor-simple .sp-x-toolbar {
    /*left: 0;*/
    /*top: 0;*/
    margin: 0;
}

.bx-core-adm-dialog .sp-x-separator div.sp-x-toolbar,
.sp-x-separator .sp-x-toolbar {
    left: -50px;
    top: 15px;
}

.sp-x-pp-box .sp-x-btn,
.sp-x-toolbar .sp-x-btn,
.sp-x-buttons-lt2 .sp-x-btn {
    margin: 1px;
}


.sp-x-pp-group {
    margin-bottom: 10px;
}

.bx-core-adm-dialog div.sp-x-pp-group-title,
.sp-x-pp-group-title {
    font-weight: bold;
    font-size: 13px;
    padding: 4px;
    margin: 2px;
    min-width: 18px;
}

.bx-core-adm-dialog div.sp-x-lt-tabs,
.sp-x-lt-tabs,
.bx-core-adm-dialog div.sp-x-lt-settings,
.sp-x-lt-settings {
    display: inline-block;
    /*text-align: left;*/
}

.bx-core-adm-dialog .sp-x-btn.sp-x-lastblock,
.sp-x-btn.sp-x-lastblock {
    display: none;
}

.sp-x-settings-group,
.bx-core-adm-dialog div.sp-x-settings-group,
.sp-x-lt-tabs,
.bx-core-adm-dialog div.sp-x-lt-tabs,
.sp-x-col-classes,
.bx-core-adm-dialog div.sp-x-col-classes,
.sp-x-box-settings,
.bx-core-adm-dialog div.sp-x-box-settings,
.sp-x-lt-settings,
.bx-core-adm-dialog div.sp-x-lt-settings,
.sp-x-buttons-lt1,
.bx-core-adm-dialog div.sp-x-buttons-lt1,
.sp-x-buttons-box,
.bx-core-adm-dialog div.sp-x-buttons-box,
.sp-x-toolbar,
.bx-core-adm-dialog div.sp-x-toolbar,
.sp-x-pp-group,
.bx-core-adm-dialog div.sp-x-pp-group {
    /*text-align: center;*/
    /*text-align: left;*/
    font-size: 0;
}

.sp-x-box iframe {
    border-width: 0;
}
