/* common */
.sp-file {
    max-width: 150px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #3f4b54;
    padding: 6px 15px 5px;
    line-height: 16px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px #fff, inset 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(0, 0, 0, .3), 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255, 255, 255, .5);
    background-color: #e0e9ec;
    background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: -o-linear-gradient(bottom, #d7e3e7, #fff) !important;
    background-image: linear-gradient(bottom, #d7e3e7, #fff) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 18px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    -webkit-font-smoothing: antialiased
}

.sp-file:hover {
    text-decoration: none;
    background: #f3f6f7 !important;
    background-image: -webkit-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -moz-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -ms-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: -o-linear-gradient(top, #f8f8f9, #f2f6f8) !important;
    background-image: linear-gradient(top, #f8f8f9, #f2f6f8) !important
}

.sp-file:active {
    background-color: #b7c4c9 !important;
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(103, 109, 123, .78);
    box-shadow: inset 0 1px 1px 1px rgba(103, 109, 123, .78);
    background-image: -webkit-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -moz-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -ms-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: -o-linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    background-image: linear-gradient(top, rgba(179, 194, 200, .96), rgba(202, 215, 219, .96)) !important;
    border-top: transparent;
}

.sp-file input[type=file] {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

.sp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.sp-table .sp-row {
    display: table-row;
}

.sp-table .sp-col {
    display: table-cell;
    vertical-align: top;
}

.sp-note {
    font-size: 12px !important;
    color: #aaa !important;
}

/* editor */

.sp-x-box {
    margin: 10px 0 0;
}

.sp-x-lt-placeholder {
    border: 1px dotted black;
    height: 100px;
    margin: 0 0 10px 0;
}

.sp-x-box-placeholder {
    border: 1px dotted black;
    height: 100px;
    margin: 10px 0 10px;
}

.sp-x-lt-col {
    /*min-height: 84px;*/
    /*margin-bottom: 20px;*/
    display: none;
}

.sp-x-lt-dock {
    /*min-height: 50px;*/
    /*padding-bottom: 50px;*/
    /*margin-bottom: 50px;*/
    /*border: 1px dotted #000;*/
}

.sp-x-box-head,
.bx-core-adm-dialog div.sp-x-box-head {
    position: relative;
    text-align: center;
    padding: 5px 0;
}

.sp-x-lt-col-head,
.bx-core-adm-dialog div.sp-x-lt-col-head {
    text-align: left;
    /*border-bottom: 1px dashed #ccc;*/
    padding: 5px 0;
    position: relative;
}

.sp-x-box-title {
    font-weight: bold !important;
}

.sp-x-lt.ui-sortable-helper {
    background: #F5F9F9;
}

.bx-core-adm-dialog div.sp-x-buttons,
.sp-x-buttons {
    /*margin: 0 0 5px 0;*/
    text-align: center;
    /*display: inline-block;*/
    /*display: block;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    float: right;
}

.sp-x-lt {
    position: relative;
}

.sp-x-lt:after {
    content: '';
    display: block;
    clear: both;
}

.sp-x-box-handle,
.sp-x-lt-handle {
    cursor: move;
}

.sp-x-box.ui-sortable-helper {
    background: #e0e8ea;
    padding: 10px 10px 20px;
}

.sp-x-box-settings {
    margin-bottom: 10px;
    text-align: left;
}

.sp-x-lt-settings {
    /*text-align: center;*/
    text-align: left;
}

.sp-x-box-settings-group,
.sp-x-lt-settings-group {
    /*display: none;*/
    /*padding: 8px;*/

    padding: 8px;

    border-radius: 4px;
    margin: 4px 1px 10px;
    background: #eee;

    /*margin-bottom: 8px;*/
    /*display: inline-block;*/

}

.sp-x-box-settings-group {
    display: inline-block;
    /*display: none;*/
}

.sp-x-lt-settings-group {
    display: inline-block;
    /*display: none;*/
}

.sp-x-lt-settings span,
.sp-x-box-settings span,
.sp-x-btn,
.bx-core-adm-dialog .sp-x-lt-settings span,
.bx-core-adm-dialog .sp-x-box-settings span,
.bx-core-adm-dialog .sp-x-btn {
    display: inline-block;
    cursor: pointer;
    /*font-size: 12px;*/
    text-decoration: none;

    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    outline: none;
    border-radius: 4px;
    /*color: #333;*/

    /*background: linear-gradient(#ececeb, #eaeaea);*/

    border: 1px solid #ccc;
    /*color: #333;*/
    /*box-shadow:*/
    /*inset rgba(0,0,0,.5) 0 -1px 1px,*/
    /*inset rgba(0,0,0,.2) 0 1px,*/
    /*inset #fff 0 2px,*/
    /*rgba(0,0,0,.2) 0 1px 1px;*/

    padding: 4px;
    margin: 2px;
    min-width: 18px;

}

.sp-x-btn.sp-x-lt-col-add-box,
.bx-core-adm-dialog .sp-x-btn.sp-x-lt-col-add-box {
    background: #86ad00;
    border: solid 1px;
    border-color: #97c004 #7ea502 #648900;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 #cbdc00;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    min-width: 80px;
}

.sp-x-btn.sp-x-lt-col-add-box:hover,
.bx-core-adm-dialog .sp-x-btn.sp-x-lt-col-add-box:hover {
    background-color: #9ec710;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
    border-color: #97c004 #7ea502 #648900;
    text-decoration: none;
}

.sp-x-btn.sp-x-lt-col-add-box.sp-active,
.bx-core-adm-dialog .sp-x-btn.sp-x-lt-col-add-box.sp-active {
    background: #698f00 !important;
    box-shadow: inset 0 2px 1px rgba(66, 84, 17, .71) !important;
    border-color: transparent #698f00 #698f00 !important;
    border-top: none;

}

.sp-x-lt-settings span:before,
.sp-x-box-settings span:before,
.sp-x-btn:before {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.sp-x-lt-settings span:hover,
.sp-x-box-settings span:hover,
.sp-x-btn:hover {
    background: #ededed;
    /*box-shadow:*/
    /*inset rgba(0,0,0,.5) 0 -1px 1px,*/
    /*inset rgba(0,0,0,.2) 0 1px,*/
    /*inset #fff 0 2px,*/
    /*rgba(0,0,0,.2) 0 1px 1px;*/
}

.sp-x-lt-settings span.sp-active,
.sp-x-box-settings span.sp-active,
.sp-x-btn.sp-active,
.sp-x-lt-settings span:active,
.sp-x-box-settings span:active,
.sp-x-btn:active {
    /*border: none;*/
    background: #cecece;
    /*box-shadow:*/
    /*inset rgba(0,0,0,.8) 0 1px 2px,*/
    /*inset rgba(0,0,0,.05) 0 -1px 0,*/
    /*#fff 0 1px 1px;*/
}

.sp-x-editor-pp {
    display: none;

    /*width: 300px;*/

    background: #f5f9f9;
    /*border: 1px solid #;*/
    padding: 10px;
    z-index: 30;
    position: absolute;
    border-radius: 4px;

    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px,
    inset rgba(0, 0, 0, .2) 0 1px,
    inset #fff 0 2px,
    rgba(0, 0, 0, .2) 0 1px 1px;
}

.sp-x-editor-pp-group-title {
    font-weight: bold;
    text-align: left;
}

.sp-x-editor-pp-group {
    text-align: left;
}

.sp-x-lt-tabs{
    text-align: left;
}